.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background: radial-gradient(circle at 10% 20%, rgb(255, 19, 120) 0%, rgb(0, 0, 0) 90.5%);
  background-attachment: fixed;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.refresh{
  text-align: center;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 896px) {

  h1 {
    margin: 3rem ;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 3rem;
    color: #4ECCA3;
  }

  .dice {
    text-align: center;
    display: inline;
  
  }

  img {
    height: 30%;
    align-self: center;
  }

  body {
    height: 100%;
    width: 100%;
  }
}
